
.container {
    width: 100%;
    display: flex;
    gap: 8px;
    height: 100vh;
    .sidebar {
        flex: 1;
        background-color: #131133;
    }
    .inner {
        padding: 8px ;
        flex:4;
        .info {
            padding: 8px 0;
        }
    }
}
