


.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 3;

        .cards {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
        }

        .transactions {
            background-color: #26225f;
            border-radius: 5px;
            padding: 8px 0;
            width: 100%;
            .title {
                width: 100%;
                font-family: poppins;
                color: white;
                font-size: 22px;
                font-weight: 400;
                padding: 0 14px;
            }

            .table {
                padding: 6px 18px;
                font-size: 14px;
                table {
                    thead {
                        font-size: 16px;
                        font-weight: 600;
                    }
                    width: 100%;
                    font-family: poppins;
                    color: white;
                    border-collapse: collapse;
                    tr {
                        &:hover {
                            border-radius: 5px;
                        }
                    }
                    tr:not(:last-child) {
                        border-bottom: 1px solid rgba(255, 255, 255, 0.288); 
                        transition: 0.6s all ease;
                       
                        &:hover {
                                background-color: rgb(240, 248, 255);
                                color: #26225f; 
                                border-radius: 15px;
                                cursor: pointer;
                            }
                        td {
                            padding: 8px 0;
                           
                        }
                        
                    }
                }
            }
        }
        .recap {
            padding: 8px 0;
            font-family: poppins;
            font-size: 12px;
            
            
        }
    }

    .infocards {
        flex: 1;
        padding: 12px 8px;
        gap: 16px;
        .now {
            background-color: #182237 !important;
            color: white;
            font-family: poppins;
            font-size: 12px;
            padding: 8px;
            .title {
                font-size: 16px;
                font-weight: 500;
            }
            button {
                background-color: #3226d88a;
                color:white;
                font-family: poppins;
                border: none;
                padding: 6px 10px;
                border-radius: 5px;
                align-self: center;
                        }
        }
    }
}